services:
  products-service:
    build:
      context: ./products # Указываем путь к папке с микросервисом
      dockerfile: Dockerfile
    env_file: ./products/.env
    environment:
      - DATABASE_URL=postgresql://postgres:123456@products-db:5432/products_db
      - REDIS_URL=redis://redis:6379
      - KAFKA_BROKERS=kafka:29092 # Внутренний адрес для Docker-сети
    ports:
      - '3003:3000' # Твой порт для доступа к API
    depends_on:
      products-db:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
    restart: unless-stopped

  products-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: products_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - '5436:5432' # Внешний порт 5436 для подключения из IDE (DataGrip/DBeaver)
    volumes:
      - products-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # Redis (убрали обязательный пароль для простоты разработки, как в твоем сервисе)
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: stopped-unless

  # Kafka Infrastructure (Оптимизировано для Mac M1/M2)
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    restart: unless-stopped

  kafka:
    image: bitnami/kafka:latest
    ports:
      - '9092:9092' # Внешний порт (для тестов с хоста)
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:29092,EXTERNAL://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    restart: unless-stopped

volumes:
  products-db-data:
  redis_data:
