services:
  products-service:
    build:
      context: .
    env_file: .env
    environment:
      - DATABASE_URL=postgresql://postgres:123456@products-db:5432/products_db
      - PORT=3000
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    ports:
      - '3003:3000'
    depends_on:
      products-db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      redis:
        condition: service_started
    restart: unless-stopped

  products-db:
    image: postgres:15
    environment:
      POSTGRES_DB: products_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - '5436:5432'
    volumes:
      - products-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # RabbitMQ(arm64 compatible)
  rabbitmq:
    image: rabbitmq:3.12-management # стандартный образ проще для начала
    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: unless-stopped

  # Redis
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  products-db-data:
  redis_data:
